
.start{
    background-color: rgb(235, 20, 188);
}

.Camel{
    background-color: rgb(50, 222, 207);
}

.Chameleon{
    background-color: rgb(235, 117, 35);
}

.Pigeon{
    background-color: rgb(24, 174, 45);
}

.Bear{
    background-color: rgb(216, 56, 53);
}

.Panda{
    background-color: rgb(30, 60, 208);
}

.Cicada{

    background-color: rgb(237, 226, 16);
}